.app{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/625/844/small_2x/Geometric_abstract_light_blue_background_for_website_wallpapers_bussines_templates.jpg');
    background-repeat: round;
    max-height: 100%;
    background-size: cover;
}